/*
 *  Termé -Responsive Personal Portfolio Template Color Stylesheet
 *  owwwlab.com @2013
 *  owwwlab@gmail.com
 */


/* General
 **************************************************/
 .btn-outline {
    background-color: #5b9f6e;
}
.btn-outline:hover {
    color: #5b9f6e;
}
.colored{
	color:#5b9f6e;
}
a{
    color:#5b9f6e;
}

/* home
 **************************************************/

#caption-carousel .caption h2{
    color:#5b9f6e;
}

/*.social-icons li a .top{
    color: #5b9f6e;
}*/
#github.top{
  color: #333333;
}
#linkedin.top{
  color: #0077b5;
}
 #twitter.top {
  color: #55acee;
}
.arrow-down:before{
    background: #5b9f6e;
}

/* About
 **************************************************/
 .bio-circles ul li{
    color:#5b9f6e;
}
.bio-circles ul li:hover{
    color:#5b9f6e;
}

 .services li i{
    color: #5b9f6e;
}

/* Skills
 **************************************************/
.circular-bar  li .details .title span{
    background: #5b9f6e;
}
.list-center li i{
    color: #5b9f6e;
}

.vertical-bar li .bar{
    background: #5b9f6e;
    background: -moz-linear-gradient(top,  #5b9f6e 1%, #487f58  100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5b9f6e), color-stop(100%,#487f58 ));
    background: -webkit-linear-gradient(top,  #5b9f6e 1%,#487f58  100%);
    background: -o-linear-gradient(top,  #5b9f6e 1%,#487f58  100%);
    background: -ms-linear-gradient(top,  #5b9f6e 1%,#487f58  100%);
    background: linear-gradient(to bottom,  #5b9f6e 1%,#487f58  100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b9f6e', endColorstr='#487f58 ',GradientType=0 );

}

/* Portfolio
 **************************************************/
 #folio .item .details .title{
    color:#5b9f6e;
}
.folio-filter li i{
    color:#5b9f6e;
}
.folio-filter li.active i{
    background: #5b9f6e;
}
#folio .item  i {
    color: #5b9f6e;
}

#folio-popup button ,#folio .item .overlay,.mfp-iframe-holder .mfp-close{
    background:#5b9f6e;
}

/* Contact
 **************************************************/
 #map-marker i{
    color:#5b9f6e;
}

.circle-icons li i{
    color: #5b9f6e;
}

.contact-form input#submit{
    background:#5b9f6e;
}
.contact-form input#submit:hover{
	color: #5b9f6e;
}

/* Loader
**************************************************/
#preloader,#load-overlay {
	background-color:#5b9f6e;
}


/* Navigation
 **************************************************/
#nav-container {
	 background:#5b9f6e;
}
